HTML,BODY,FORM
{
    height:99%;
    background-color: #2dcde4;
}
#index{
    font-size: 26px;
}
#mainTxt{
    font-size: 30px;
}
#taitleImg{
    width: 50px;;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
